<!doctype html>
<html lang="en">
<%- include ('./partials/head') %>

  <body>
    <%- include('./partials/navbar') %>

      <div class="jumbotron">
        <div class="container text-center jumbo-center">
          <h1>TRADITIONAL GAME PLAY</h1>
          <a href="#">
            <button class="btn btn-primary-custom px-5 mt-4" id="play">PLAY</button>
          </a>
        </div>
      </div>

      <%- include('./partials/footer') %>
  </body>

</html>