<!doctype html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/navbar') %>

      <div class="profile p-5">
        <div class="container p-3">
          <div class="card text-white bg-dark m-auto shadow-custom" style="max-width: 20rem;">
            <div class="card-header">
              <h3 class="card-title text-center">Profile</h3>
              <img class="card-img-top bg-dark" src="/img/landing/images.png" alt="avatar">
            </div>
            <div class="card-body">

              <div id="user-info">
                <h5 class="card-title text-center">About</h5>
                <p class="text-justify">
                  <%=user.biodata.about %>
                </p>

                <h6>Email</h6>
                <p>
                  <%=user.biodata.email %>
                </p>
                <h6>Username</h6>
                <p id="username">
                  <%=user.username %>
                </p>
                <h6>Phone</h6>
                <p>
                  <%=user.biodata.phone %>
                </p>
                <h6>Gender</h6>
                <p>
                  <% if (user.biodata.gender==='f' ) { %>
                    Female
                    <% } else { %>
                      Male
                      <% } %>
                </p>
              </div>

              <!-- Showing when editing -->
              <form class="d-none">
                <div class="form-group">
                  <label for="about">About</label>
                  <input type="text" class="form-control" name="about" value='<%=user.biodata.about %>'>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" value=<%=user.biodata.email %> >
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="username" class="form-control" name="username" value=<%=user.username %> >
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="tel" class="form-control" name="phone" value=<%=user.biodata.phone %> >
                </div>
                <div class="form-group">
                  <p>Gender</p>
                  <div class="form-check-inline">
                    <% if (user.biodata.gender==='f' ) { %>
                      <input class="form-check-input" type="radio" name="gender" id="female" value="f" checked required>
                      <label class="form-check-label" for="female">
                        Female
                      </label>
                      <input class="form-check-input ml-2" type="radio" name="gender" id="male" value="m" required>
                      <label class="form-check-label" for="male">
                        Male
                      </label>
                      <% } else { %>
                        <input class="form-check-input" type="radio" name="gender" id="female" value="f" required>
                        <label class="form-check-label" for="female">
                          Female
                        </label>
                        <input class="form-check-input ml-2" type="radio" name="gender" id="male" value="m" checked
                          required>
                        <label class="form-check-label" for="male">
                          Male
                        </label>
                        <% } %>
                  </div>
                </div>
                <span class="btn btn-success" id="save">Save</span>
                <span class="btn btn-secondary" id="cancel">Cancel</span>
              </form>

              <div class="message error"></div>
              <span class="btn btn-info mt-2" id="edit">Edit</span>
              <span class="btn btn-danger mt-2" id="delete">Delete Account</span>
            </div>
          </div>
        </div>

        <div class="alert alert-success alert-dismissible fade" role="alert">
          <strong>Success update profile!</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <%- include ('./partials/footer') %>

        <script type="module" src="/js/profile.js"></script>
  </body>

</html>