<footer>
  <div class="container-fluid px-5 pt-5 footer-info">
    <div class="row justify-content-end">
      <ul class="nav">
        <li class="nav-item bottom-nav-sm col-sm-nav">
          <a class="nav-link active" href="#">MAIN</a>
        </li>
        <li class="nav-item bottom-nav-sm col-sm-nav">
          <a class="nav-link" href="#about">ABOUT</a>
        </li>
        <li class="nav-item bottom-nav-sm col-sm-nav">
          <a class="nav-link" href="#features">GAME FEATURES</a>
        </li>
        <li class="nav-item bottom-nav-sm col-sm-nav">
          <a class="nav-link" href="#system-req">SYSTEM REQUIREMENTS</a>
        </li>
        <li class="nav-item bottom-nav-sm col-sm-nav">
          <a class="nav-link" href="#top-scores">QUOTES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <img src="/img/landing/facebook.svg" alt="facebook" title="facebook"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <img src="/img/landing/twitter.svg" alt="twitter" title="twitter"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <img src="/img/landing/yt.svg" alt="youtube" title="youtube"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> <img src="/img/landing/twitch.svg" alt="twitch" title="twitch"></a>
        </li>
      </ul>
    </div>
    <hr class="my-3">

    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
        <p>Made with &#10084; by Beta Team, All Right Reserved &copy; 2020</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6">
        <ul class="nav justify-content-end">
          <li class="nav-item bottom-nav-sm col-sm-nav">
            <a class="nav-link bottom-nav" href="#">PRIVACY POLICY</a>
          </li>
          <li class="nav-item bottom-nav-sm col-sm-nav">
            <a class="nav-link bottom-nav" href="#">TERM OF SERVICE</a>
          </li>
          <li class="nav-item bottom-nav-sm col-sm-nav">
            <a class="nav-link bottom-nav" href="#">CODE OF CONDUCT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>